body{font:14px tahoma Microsoft YaHei SimHei  Arial, helvetica, sans-serif;}
body,h1,h2,h3,h4{margin:0;}
p{margin:8px 0;}
h3{color:#005831;}
ul{margin:0;padding:0;list-style: none;}
a{text-decoration: none;display: block;cursor:pointer;}
.wrap{width:750px;margin: 50px auto;}
section,article,nav{display: block;}
/*   nav       */
nav {background:#005831;height:30px;}
nav ul:after{
    content:"";
    display: block;
    height:0;
    clear:both;
}
nav ul{margin:0 auto;width:750px;*zoom:1;}
nav li{float:left;height:30px;line-height: 30px;}
nav a{color:white;width:186px;text-align: center;background:#dea32c;border-right:1px solid  #40835e;}
nav a:hover{background: #40835e;}

/*brief-intro*/
#brief-intro img{width:150px;height:150px;vertical-align: top;border-radius:150px;-webkit-border-radius: 150px;box-shadow:0 2px 4px 0 rgba(0,0,0,0.5);-moz-box-shadow:0 10px 0 10px rgba(0,0,0,0.5)}
#brief-intro article{width:560px;padding:10px 15px;position:relative;right:0;display:inline-block;border:1px solid #40835e;margin-left: 3px;font-size:16px;border-radius: 10px;-webkit-border-radius: 10px;background: white;box-shadow:0 2px 4px 0 rgba(0,0,0,0.5);}

/*capability*/
#capability{position:relative;height:305px;}
#capability ul{width:200px;position:absolute;left:0;top:0;text-align: center;}
#hd li{width:200px;height:60px;line-height:60px;font-size:20px;background:#005831;border-bottom: 1px solid #40835e;color:white;}
#hd li.current{border-right:10px solid #50b7c1;border-top-right-radius:10px;    border-bottom-right-radius:10px;background:#40835e;}
#bd article{width:480px;height:265px;background:#00ae9d;color:white;position:absolute;top:0;right:0;font-size:20px;line-height:180%;padding:20px 25px;opacity:0;}
#bd article.current{opacity:1;}
/* works */
#works{height:300px;border:1px solid #9acd32}
/* form */
form{border:1px solid #005831;padding:30px 10px 10px 10px;box-shadow:0 2px 4px 0 rgba(0,0,0,0.5);*zoom:1;}
#contact section{margin-bottom: 20px;}
label {float: left;width:100px;text-align: right;margin-right:20px;font-weight: bold;color:#556b2f;}
textarea {min-width: 300px;min-height: 100px;max-height:100px;max-width:300px;border:1px solid #556b2f;padding:3px 0 0 3px ; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius:5px;font:20px Microsoft YaHei thin;}
input{font:20px Microsoft YaHei thin;border:1px solid#556b2f;padding:3px; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius:5px ;}
#submit {margin-left: 120px;width:100px;height:34px;font-size:14px;font-weight:bold;background: #9acd32;color:white;}
span{color:red;font-size: 20px;}
/*up*/
#up a{position:fixed;right:20px;bottom:20px;width:40px;height:40px;line-height:40px;text-align:center;margin-left:385px;margin-top:200px;background:#9acd32;color:white;}
